.mainBg{
    background-image: url('/Users/keithaura/Desktop/projects/foodmood/public/img/herobg.jpeg') ;
    background-repeat: no-repeat;
    top: -5rem;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: -100;
}

.centerText{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.centerText .heroText{
    color: aliceblue;
}
    