#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.2rem;
  text-align: center;
}

header{
  background-color: yellowgreen;
  height: 1.9rem;
  width: 100vw;
  top: 0;
  bottom: 0;
  color: blueviolet;
  padding: 1.5rem 3rem;

}




